
html {
    background-color: #161515;
    /* border: 25px solid rgb(255, 255, 255); /* width, style, colour */     
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2.6vw solid #161515; /* 2% of the viewport width as border width */
    z-index: 99; /* Ensure it covers all other elements */
}

html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

canvas {
    position:absolute;    /* Take the element out of the normal document flow */
    z-index:-1;           /* Place the element behind normal content */
    top: 4%;                /* Start at top of viewport */
    left: 2%;               /* Start at left edge of viewport */  
    right: 2%;
    bottom: 2%;
}

.container {
    width: 96%;
    z-index:1;           /* Place the element behind normal content */
    height: 90.8vh; /* Use viewport height to ensure the borders at top and bottom */
    margin: 2% auto; /* 2% left and right margin, 2% top margin, 2% bottom margin */
    border: .75px solid #fff;
    box-sizing: border-box;
    position: relative; /* Required for absolute positioning */
}

.sidenav {
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 100; /* Stay on top */
    top: 4%; /* Stay at the top */
    left: 4%;
    background-color: rgba(17, 17, 17, 0); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenav h2 {
    font-size: 50px;
    color: #fff4e4;
    margin: 0; /* Reset margin to ensure proper alignment */
    padding: 6px 8px 0px 16px;
    line-height: 1.5; /* Set line-height to vertically center the text */
}

.sidenav h3 {
    font-size: 15px;
    color: #fff4e4be;
    margin: 0; /* Reset margin to ensure proper alignment */
    padding: 0px 8px 6px 24px;
    line-height: 1.5; /* Set line-height to vertically center the text */
}

  /* The navigation menu links */
  .sidenav a {
    padding: 10px 14px 10px 24px;
    z-index: 100;
    text-decoration: none;
    font-size: 15px;
    color: #fff4e4;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #474141;
  }
  
  .hometext {
    width: 120px;
    position: fixed;
    padding: 30px 10px 30px 10px;
    font-size: 15px;
    line-height: 1.4;
    z-index: 101;
    bottom: 4%; /* Stay at the top */
    right: 4%;
    color: #fff4e4;
    
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }