body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c1cec1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    max-width: 800px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
}

aside {
    background-color: #c1cec1;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 24px; /* Adjust the font size as needed */
}

section {
    background-color: #f0f0f0; /* Background color for the sections */
    padding: 20px;
    border-radius: 5px;
}

/* Add additional styles as needed */

